<div class="row jumbotron">
  <div class="col-md-12">
    <h4>Directivas</h4>
    <p>Existen tres tipos de directivas</p>
    <ul>
      <li>
        <p><b>Componentes</b></p>
        <p>Un componente es una directiva con un template. Habrá muchas en tu aplicación y resuelven necesidades del negocio.
          </p>
      </li>
      <li>
        <p><b>Directivas de atributos</b></p>
        <p>Cambian la apariencia o comportamiento de un element. Por ejemplo tenemos ngClass, que nos permite colocar una o
          más clases de CSS (atributo class) en un elemento.</p>
      </li>
      <li>
        <p><b>Directivas estructurales</b></p>
        <p>Son las que realizan cambios en el DOM del documento, añadiendo, manipulando o quitando elementos. </p>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h5>Ejemplo de directivas de atributos</h5>
    <app-directiva-ngclass></app-directiva-ngclass>
    <p>ngModel</p>
  </div>
  <div class="col-md-6">
      <h5>Ejemplo de directivas estructurales</h5>
      <p>ngFor</p>
      <p>ngIf</p>
    </div>
</div>