<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-info" data-toggle="collapse" href="#quees" aria-expanded="false" aria-controls="collapseExample">
        Qué es
      </div>
      <div class="collapse" id="quees">
        <div class="card card-block">
          <span>Angular es un framework de desarrollo para JavaScript creado por <b>Google</b>. La finalidad de Angular es facilitarnos
          el desarrollo de aplicaciones web <b>SPA</b> y además darnos herramientas para trabajar con los elementos de una
          web de una manera más sencilla y optima.</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info" data-toggle="collapse" href="#diferencias" aria-expanded="false" aria-controls="collapseExample">
        Principales diferencias
      </div>
      <div class="collapse" id="diferencias">
        <div class="card card-block">
          <span>AngularJS y Angular no tienen nada que ver. El mal llamado "Angular 2", que se llama solamente Angular, no es una nueva versión de AngularJS (también denominado Angular 1.x). Es un nuevo framework, escrito desde cero y con conceptos y formas de trabajar completamente distintos.</span>
          <ul class="list-group">
            <li class="list-group-item"><span><b>Rendimiento</b>: Carga dinámica de contenido y optimización en móviles 
            </span></li>
            <li class="list-group-item">TypeScript u otros lenguajes</li>
            <li class="list-group-item">Orientado a dispositivos móviles</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info" data-toggle="collapse" href="#caracteristicas" aria-expanded="false" aria-controls="collapseExample">
        Características
      </div>
      <div class="collapse" id="caracteristicas">
        <div class="card card-block">
          <ul>
            <li>
              <span>Respaldado por <b>Google</b></span>
              <ul>
                <li>
                  Gran apuesta
                </li>
                <li>
                  Código abierto
                </li>
                <li>
                  Gran comunidad detrás
                </li>
              </ul>
            </li>
            <li>
              <span><b>SPA</b></span>
              <ul>
                <li>
                  Web de una sóla página. No se recarga el navegador en ningún momento. Pero la carga es parcial y dinámica.
                </li>
              </ul>
            </li>
            <li>
              <span>Gran cantidad de <b>módulos</b> creados por Angular y la comunidad para facilitar la tarea de múltiples tareas</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-info" data-toggle="collapse" href="#necesitamos" aria-expanded="false" aria-controls="collapseExample">
        Qué necesitamos
      </div>
      <div class="collapse" id="necesitamos">
        <div class="card card-block">
            <ul class="list-group">
                <li class="list-group-item"><span><b>Node.js</b>. npm</span></li>
                <li class="list-group-item"><span><b>TypeScript</b></span></li>
                <li class="list-group-item"><span><b>Angular CLI</b></span></li>
                <li class="list-group-item"><span><b>Editor de código</b>: Visual Studio Code, Atom, ...</span></li>
              </ul>
        </div>
      </div>
    </div>
  </div>
</div>